azure-functions
azure-functions-worker
pymongo==4.6.0
feedparser==6.0.10
requests==2.31.0
google-api-python-client==2.108.0
azure-storage-blob==12.19.0
azure-cognitiveservices-speech==1.32.1
azure-ai-openai==1.0.0


